<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="/manifest" href="manifest.json">
    <title>Analyze</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>

<%- include('header') %>

<div class="container" id="gamelist">
    <ul class="list-group list-group-flush">
    <% for (var i = 0; i < games.length; i++) { %>
        <li class="list-group-item">
            <div class="container" >
                  <div class="row">
                    <div class="col-6">
                        <%= games[i].id %>
                        <span onclick="window.location='/analyze/<%= games[i].id %>'" >
                        <%= games[i].name %> </span>
                        <span style="text-align:left">
                        <%= games[i].Timestamp %> </span>
                    </div>
                    <div class="col-6">
                        <% if (!games[i].finished) { %>
                            <button class="btn btn-success" onclick="window.location='/play/<%= games[i].id %>'">Play</button>
                        <% } %>
                        
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" onclick="openEditModal(<%= games[i].id %>, '<%= games[i].name %>')">Edit</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="openDeleteModal(<%= games[i].id %>, '<%= games[i].name %>')">Delete</button>
                    
                    </div>
                  </div>
            </div>
        </li>
    <% } %>
    </ul>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" id="deleteModal">
<div class="modal-dialog modal-dialog-centered" >
  <form id="deleteForm" class="modal-content" action="/game/" method="POST">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Delete game</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="pdelete"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
  </form>
</div>
</div>

<div class="modal" tabindex="-1" id="editModal">
<div class="modal-dialog modal-dialog-centered" >
  <form id="editForm" class="modal-content" action="/game/" method="POST">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Update game name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" id="nameinput" name="name"></input> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
  </form>
</div>
</div>
<script>

//// Get the modal
function openDeleteModal(gid, name) {
    var form = document.getElementById('deleteForm');
    form.action = `/game/${gid}/delete`;
    var p = document.getElementById('pdelete');
    p.innerText = `Are you sure you want to delete game ${gid} with name ${name}?`;
}

function openEditModal(gid, name) {
    var form = document.getElementById('editForm');
    form.action = `/game/${gid}/edit`;
    var textarea = document.getElementById('nameinput');
    textarea.value = name;
}

</script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
